body {
  background-image: url('assets/img/poke-image.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.pokeCard {
  flex: 1 0 21%;
  border: 1px solid black;
  margin: 10px;
  min-width: 213px;
  display: flex;
  background-color: white;
}

.pokeList {
  display: flex;
  flex-wrap: wrap;
}

.alignCenter {
  display: flex;
  align-items: center;
}